.idea/
.vs/
cmake-build-debug/
CMakeLists.txt
1-Factorial.exe
2-Fibonacci.exe
3-TemperatureConverter.exe
4-GuessTheNumber.exe
5-MultiplicationTable.exe
6-Prime.exe
7-Palindrome.exe
8-StudentGrade.exe
9-Armstrong.exe
10-TaxCalculator.exe
11-CharacterCounter.exe
